.tooltip {
    position: absolute;
    z-index: 1;
    display: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 13px;
    border-style: solid;
    border-width: thin;
    border-color: white;
  }
html {
    display: flex;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    min-height: 100vh;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
p {
    margin: 0px;
    padding: 0px;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: Calibri;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}
header {
    display: flex; /* or inline-flex */
    flex-direction: row;
    padding: 30px;
    align-items: baseline;
    justify-content: space-between;
}
#menu {
    display: none;
}
nav{
    flex-grow: 2;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    column-gap: 75px;
    padding-right: 30px;
}
main {
    display: flex; /* or inline-flex */
    flex-direction: row;
    padding: 15px;

}
.title {
    margin-left: 15px;
    font-weight: bold;
    font-size: 32px;
}
#div {
    display: flex;
    flex-grow: 1;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  label {
    text-align: right;
    margin-right: 10px;
    flex: 0 0 100px; /* Szerokość etykiety */
  }
  
  input {
    flex: 1; /* Rozciąga pole formularza, aby wypełnić dostępną przestrzeń */
  }

  .zgloszenia {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #f9f9f9;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e9e9e9;
  }

.formularz{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 90px 60px;
}
.button {
  height: 40px;
  width: 50%;
  padding: 10px 20px;
  background: #54a444;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
  cursor: pointer;
}
#button1{
width: 20%
}

.sb-title-icon{
    width: 30px;
    height: 30px;
}
.info-icon{
    width: 55px;
    height: 55px;
}
textarea{
    font-size: 16px;
    font-family: Calibri;
}
.sign{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
footer {
    display: flex; /* or inline-flex */
    flex-direction: column;
    height: 100px;
    background-color: darkslategrey;
    color: white;
    border-top-style: solid;
    border-top-width: 2px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
#footer{
    color:white;
}
#emailLabel{
white-space: nowrap;
width: 100px;
}

@media all and (max-width: 900px) {
main {
    flex-wrap: wrap;
}
.title{
    display: none;
}
nav{
    display: none;
}
#menu{
    display: block;
}
#button1{
    width: 40%;
  }
}
