<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>PawsOnDuty - wyszukiwanie</title>
        <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    </head>
    <body>
      {% if komunikat %}
      <div class="komunikat">{{ komunikat }}</div>
  {% endif %}
  <header>
      <a href = "index.html"><img src="static/logo.png" width="150" height="150"></a><br>
      <img id="menu" src="static/menu.png" width="150" height="150">
      <div id="header">
      <a href = "index.html"><h1 class="title">PawsOnDuty</h1></a>
      <h5>Powered by Core-Oho-Duh</h5>
      </div>
  </header>
  <nav>

    {% if zalogowany %}
    <span>{{ imie }}</span>
    <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
    {% else %}
    <a id="link1" href=rejestracja.html>Zarejestruj się</a>
    <a id="link2" href=logowanie.html>Zaloguj się</a>
    {% endif %}
  </nav>
  <main id="mainlog">
  
      <h1 id="log">Wyszukiwanie zgłoszenia</h1>
      <br>
      {% if komunikat %}
      <p style="color: red;">{{ komunikat }}</p>
      {% endif %}            
      <form action="/zgloszenia.html" method="GET">
              <div class="sign">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required><br><br>
              </div>

                <input class="button" type="submit" value="Wyszukaj">
            </form>
		</main>
		<div id="div"></div>
		<footer>
			<p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
			<p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
		</footer>
    </body>
</html>