<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>PawsOnDuty - wyszukiwanie</title>
        <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <script>src="{{ url_for('static', filename='js/mapscript.js') }}"</script>
    <!-- TU EWENTUALNY BOOTSTRAP -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script>
        "use strict";
    
    function initMap() {
      const CONFIGURATION = {
        "ctaTitle": "Ok",
        "mapOptions": {"center":{"lat":52.235,"lng":21.01},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":true,"zoom":13,"zoomControl":true,"maxZoom":22,"mapId":""},
        "mapsApiKey": "AIzaSyAum8iT83b1MrAEQaLt0joIK6Rdb-3uqWE",
        "capabilities": {"addressAutocompleteControl":true,"mapDisplayControl":true,"ctaControl":true}
      };
      const componentForm = [
        'location',
        'locality',
        'administrative_area_level_1',
        'country',
        'postal_code',
      ];
    
      const getFormInputElement = (component) => document.getElementById(component + '-input');
      const map = new google.maps.Map(document.getElementById("gmp-map"), {
        zoom: CONFIGURATION.mapOptions.zoom,
        center: { lat: 52.235, lng: 21.01},
        mapTypeControl: false,
        fullscreenControl: CONFIGURATION.mapOptions.fullscreenControl,
        zoomControl: CONFIGURATION.mapOptions.zoomControl,
        streetViewControl: CONFIGURATION.mapOptions.streetViewControl
      });
      const marker = new google.maps.Marker({map: map, draggable: false});
      const autocompleteInput = getFormInputElement('location');
      const autocomplete = new google.maps.places.Autocomplete(autocompleteInput, {
        fields: ["address_components", "geometry", "name"],
        types: ["address"],
      });
      autocomplete.addListener('place_changed', function () {
        marker.setVisible(false);
        const place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert('No details available for input: \'' + place.name + '\'');
          return;
        }
        renderAddress(place);
        fillInAddress(place);
      });
    
      function fillInAddress(place) {  // optional parameter
        const addressNameFormat = {
          'street_number': 'short_name',
          'route': 'long_name',
          'locality': 'long_name',
          'administrative_area_level_1': 'short_name',
          'country': 'long_name',
          'postal_code': 'short_name',
        };
        const getAddressComp = function (type) {
          for (const component of place.address_components) {
            if (component.types[0] === type) {
              return component[addressNameFormat[type]];
            }
          }
          return '';
        };
        getFormInputElement('location').value = getAddressComp('street_number') + ' '
                  + getAddressComp('route');
        for (const component of componentForm) {
          // Location field is handled separately above as it has different logic.
          if (component !== 'location') {
            getFormInputElement(component).value = getAddressComp(component);
          }
        }
      }
    
      function renderAddress(place) {
        map.setCenter(place.geometry.location);
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
      }
    }
</script>
    </head>
    <body>
      {% if komunikat %}
      <div class="komunikat">{{ komunikat }}</div>
  {% endif %}
  <header>
      <a href = "index.html"><img src="static/logo.png" width="150" height="150"></a><br>
      <img id="menu" src="static/menu.png" width="150" height="150">
      <div id="header">
      <a href = "index.html"><h1 class="title">PawsOnDuty</h1></a>
      <h5>Powered by Core-Oho-Duh</h5>
      </div>
  </header>
  <nav>
      {% if not zalogowany %}
      <a id="link1" href=rejestracja.html>Zarejestruj się</a>
      <a id="link2" href=logowanie.html>Zaloguj się</a>
      {% else %}
      <span>{{ imie }}</span>
      <a href="{{ url_for('wyloguj') }}">Wyloguj</a>            
      {% endif %}
  </nav>
  <main id="mainlog">
  
      <h1 id="log">Wyszukiwanie zgłoszenia</h1>
      <br>
      {% if komunikat %}
      <p style="color: red;">{{ komunikat }}</p>
      {% endif %}            
      <form action="/przeglad-zgloszen" method="GET">
              <div class="sign">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required><br><br>
              </div>

              <div class="sign">
                <label for="title">Tytuł:</label>
                <input type="text" id="title" name="title"><br><br>
              </div>

                <input id="button" type="submit" value="Wyszukaj">
            </form>
		</main>
		<div id="div"></div>
		<footer>
			<p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
			<p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
		</footer>
    </body>
</html>