<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Zaloguj się</title>
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        

        <!-- TU EWENTUALNY BOOTSTRAP -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    </head>
    <body>
		<header>
			<img src="static/logo.png" width="150" height="150">
			<img id="menu" src="static/menu.png" width="150" height="150">
			<h1 class="title">PawsOnDuty</h1>
		</header>
		<main>

            <h2 class="logtitle">Logowanie</h2>

            <form action="/przeglad-zgloszen" method="GET">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data">

                <label for="kategoria">Kategoria:</label>
                <select id="kategoria" name="kategoria">
                  <option value="wszystkie">Wszystkie</option>
                  <option value="kategoria1">Kategoria 1</option>
                  <option value="kategoria2">Kategoria 2</option>
                  <option value="kategoria3">Kategoria 3</option>
                </select>
                <input type="submit" value="Wyszukaj">
            </form>
			<form method="POST">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required><br><br>

                <label for="hasło">Hasło:</label>
                <input type="text" id="hasło" name="hasło" required><br><br>

                <input type="submit" value="Zaloguj się">
            </form>
            <div id="rejestracja"><p>Nie masz konta?</p><a id="link1" href=rejestracja.html>Zarejestruj się</a></div> 
		</main>
		<div id="div"></div>
		<footer>
			<p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
			<p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
		</footer>
    </body>
</html>