<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>PawsOnDuty - rejestracja</title>
    <link rel="shortcut icon" href="static/logo.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
</head>
<body>
    {% if 'error_message' in session %}
    <div class="error-message">{{ session['error_message'] }}</div>
    {% set _ = session.pop('error_message', None) %}
    {% endif %}

<header>
    <a href = "index.html"><img src="static/logo.png" class="has-tooltip" data-tooltip="Przejdź do strony głównej" width="150" height="150"></a><br>
    <img id="menu" src="static/menu.png" width="75" height="75">
    <div id="header">
    <a href = "index.html"><h1 class="title has-tooltip" data-tooltip="Przejdź do strony głównej">PawsOnDuty</h1></a>
    <h5>Powered by Core-Oho-Duh</h5>
    </div>
</header>
<nav>
    {% if not zalogowany %}
    <a id="link1" href=rejestracja.html class="has-tooltip" data-tooltip="Zarejestruj się">Zarejestruj się</a>
    <a id="link2" href=logowanie.html class="has-tooltip" data-tooltip="Zaloguj się">Zaloguj się</a>
    {% else %}
    <span>{{ imie }}</span>
    <a href="{{ url_for('wyloguj') }}" class="has-tooltip" data-tooltip="Wyloguj się">Wyloguj się</a>
    <a href="{{ url_for('moje_zgloszenia') }}" class="has-tooltip" data-tooltip="Wyloguj się">Moje zgłoszenia</a>            
    {% endif %}
</nav>
<main id="mainlog">
    <h1 id="log">Zarejestruj się</h1>
    <br>
    {% if komunikat %}
    <p style="color: red;">{{ komunikat }}</p>
    {% endif %}
    <form method="POST">
        <div id="toleft">
        <div class="sign">
            <label for="imie">Imię:</label>
            <input type="text" id="imie" name="imie" required><br><br>
        </div>
        <br>
        <div class="sign">
            <label for="nazwisko">Nazwisko:</label>
            <input type="text" id="nazwisko" name="nazwisko" required><br><br>
        </div>

        <br>
        <div class="sign" id="emailDiv">
            <label for="email" id="emailLabel">Adres e-mail:</label>
            <input type="email" id="email" name="email" required><br><br>
        </div>

                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required><br><br>

                <label for="haslo">Hasło:</label>
                <input type="text" id="haslo" name="haslo" required><br><br>

        <br>
        </div>
        </div>

        <br><br>
        <br><br><br>
        <input id="button" class="button" type="submit" value="Zarejestruj się">
    </form>
    <br>
    <div id="rejestracja">Masz już konto?   <a id="link3" href=logowanie.html>Zaloguj się</a></div> 
</main>
<div id="div"></div>
<footer>
    <p id="footer">Aplikacja webowa stworzona jako projekt z kursu Języki Programowania Aplikacji Internetowych AGH.</p>
    <p id="footer">© Maria Mostek, Patrycja Ruda, Filip Kuś. Kraków 2023.</p>
</footer>
</body>
</html>